amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
celery-types==0.26.0
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
Django==6.0.5
django-celery-beat==2.9.0
django-debug-toolbar==6.3.0
django-rest-framework==0.1.0
django-stubs==6.0.5
django-stubs-ext==6.0.5
django-timezone-field==7.2.1
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
drf-spectacular==0.29.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
packaging==26.2
pillow==12.2.0
prompt_toolkit==3.0.52
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
redis==8.0.0
referencing==0.37.0
rpds-py==2026.5.1
six==1.17.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
uritemplate==4.2.0
vine==5.1.0
wcwidth==0.7.0
